body {
   
    margin: 0;
    display: flex;
    flex-direction: column;
}



input[type="text"]{
    height: 37px;
    float: right;
    margin-right: 64px;

} 

/* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  } */
  
.navigation {
    display: flex;
    justify-content: flex-end;
    height:100px;
}

.navigation li {
    display: inline-block;
    vertical-align: bottom;
    margin: 5px 5px 0 0;
    font-size: 30px;
}

