body {
   
    margin: 0;
    display: flex;
    flex-direction: column;
    padding:0;
}

/* NAV BAR *************/

.navigation  {
    /* display: flex;
    justify-content: flex-end; */
    height:115px;
    background-color: #ff7c01;
}

.navigation .logo{

    color: #fff;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 20px;
    margin-top: 28px;
    padding: 15px 15px 15px 35px;
} 

.navigation ul{
    float: right;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    padding: 15px 35px 15px 15px;
    margin-top: 18px;
}


.navigation li {
    display: inline-block;
    vertical-align: bottom;
    margin: 5px 5px 3px 16px;
    font-size: 30px;
    text-transform: uppercase;
 
}
/* .navigation li :hover{
text-shadow: cornsilk;
text-shadow: 12px;
} */

a {
    color:white;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}

/* SEARCH BOX ******************* */

input[type="text"] {
    height: 37px;
    float: right;
    margin-right: 64px;
} 

 i {
    position: relative;
    float: right;
    left: 172px;
    top:4px

} 


 ul {
     padding: 10px ;   
  } 
  

/* MIDDLE SECTION *************/

 img{
    height:468px;
    padding-left: 81px;
    padding-top: 49px;
}

div h1 {
    float: right;
    display: table-cell ;
    vertical-align: middle;
    margin-right: 43px;
    padding-top: 52px;
    color: orange;
    font-size: 60px;
    font-weight: lighter;
}

.paragraph {
    text-align: center;
    margin-bottom: 2px;
    font-family: 'Open Sans', sans-serif;
    
}

.bold{
    font-weight: bold;
    
}

.bottomcolor{
    color: #79cac7;
}






/* BOTTOM ************/

.footer{
    position:relative;
    top:256px;
}

.bottom{
    bottom: 0 !important;
    position: absolute;
    width: 100%;
    background-color: 
    #79cac7;
    border-top: 115px solid 
    #79cac7;
}



